/* Predefinisane klase: */

/* BUTTONS: */
.button_grey {
	background-color: black;
	color: grey;
    border: 1px solid grey;
    transition-duration: 0.4s;
}

.button_grey:hover {
	background-color: grey;
    color: white;
    border: 1px solid grey;
}

.button_linkedin {
	background-color: black;
	color: #0077B5;
    border: 1px solid #0077B5;
    transition-duration: 0.4s;
}

.button_linkedin:hover {
	background-color: #0077B5;
    color: white;
    border: 1px solid #0077B5;
}

.button_green {
	font-size: 14px;
	background-color: black;
	color: #0f0;
    border: 1px solid #0f0;
    transition-duration: 0.4s;
}

.button_green:hover {
	font-size: 14px;
	background-color: green;
    color: white;
    border: 1px solid green;
}

.button_red {
	font-size: 14px;
	background-color: black;
	color: red;
    border: 1px solid red;
    transition-duration: 0.4s;
}

.button_red:hover {
	font-size: 14px;
	background-color: red;
    color: white;
    border: 1px solid red;
}

.button_blue {
	font-size: 14px;
	background-color: black;
	color: blue;
    border: 1px solid blue;
    transition-duration: 0.4s;
}

.button_blue:hover {
	background-color: blue;
    color: white;
    border: 1px solid blue;
}

.button_purple {
	font-size: 14px;
	background-color: black;
	color: purple;
    border: 1px solid purple;
    transition-duration: 0.4s;
}

.button_purple:hover {
	font-size: 14px;
	background-color: purple;
    color: white;
    border: 1px solid purple;
}

.button_orange {
	font-size: 14px;
	background-color: transparent;
	color: orange;
    border: 1px solid orange;
    transition-duration: 0.4s;
}

.button_orange:hover {
	background-color: orange;
    color: white;
    border: 1px solid orange;
}

.button_cyan {
	font-size: 14px;
	background-color: transparent;
	color: cyan;
    border: 1px solid cyan;
    transition-duration: 0.4s;
}

.button_cyan:hover {
	background-color: cyan;
    color: black;
    border: 1px solid cyan;
}

button {
	font-family: Inconsolata, monospace;
	padding: 10px;
	font-size: 12pt;
}

#menu {
	flex: 0 0 30%;
	border: 1px solid purple;
	min-width: 400px;
}

#content {
	position: relative;
	flex: 1;
	border: 1px solid purple;
	margin-left: 1px;
}

#findme_links {
	margin-bottom: 20px;
	display: inline-block;
	background: linear-gradient(45deg, orangered, yellow, aqua);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.findme {
	font-size: 15px;
	font-weight: bolder;
	text-decoration: none;
	color: transparent;
	border-bottom: 3px solid #def919;
	font-family: Roboto Mono,monospace;
	text-rendering: optimizeLegibility;
	margin: 10px;
	padding-bottom: 5px;
	transition: transform .3s ease-out;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.findme .arrow{
	margin-left: 5px;
	transition-duration: 0.4s;
}

.findme:hover .arrow{
	margin-left: 15px;
}   
	
.findme .arrow:hover{
	margin-left: 5px;
}

button:hover {
	border-radius: 5px;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

/* INPUT */
.default_input {
	height: 18pt;
	transition-duration: 0.4s;
	color: #0f0;
	background: black;
	border: 1.5px dashed #0f0;
	width: 50pt;
	text-align: center;
}

.default_input:hover {
	background: white;
	color: black;
	border-radius: 11px;
	transition-duration: all 0.7s;
	width: 70pt;
}

.default_input:disabled {
	height: 18pt;
	transition-duration: 0.4s;
	background: grey;
	border: 1.5px solid #0f0;
	border-radius: 11px;
}

/* Select */

select {
	background-color: black;
	color: #0f0;
	border: 1px dashed #0f0;
	font-family: Roboto Mono, monospace;
	font-size: 14pt;
	transition-duration: 0.4s;
	text-align: center;
}

select:hover {
	background-color: white;
	color: black;
	border-radius: 10px;
}

/* disable outline when focused */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
	background-color: #000;
	display: flex;
}

p, label, li, h1, h3, h4 {
	color: #0f0;
	font-family: Roboto Mono, monospace;
}

ul {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

h4 {
	border-left: 3px solid #0f0;
	padding-left: 10px;
	margin-left: 10px;
	text-align: center;
	display: inline-block;
}


.bythenumber {
	font-size: 24px;
	color: cyan;
	display: inline-block;
}

.experienceP {
	font-size: 18px;
	color: cyan;
	display: inline-block;
}

.experienceH4 {
	font-size: 20px;
	border-right: 3px solid yellow;
	padding-right: 12px;
	margin-right: 10px;
	display: inline-block;
	color: yellow;
}

.experienceDIV {
	text-align: center;
}

#experienceTitle {
	color: yellow;
}

.interestsP {
	font-size: 18px;
	color: lightgoldenrodyellow;
	display: inline-block;
}

.interestsDIV {
	text-align: center;
}

#interestsTitle {
	color: lightgoldenrodyellow;
}

h3 {
	text-align: center;
}

#uvod {
	text-align: center;
}

#slika {
	transition-duration: 1s;
	border-radius: 15px;
	width: 200px;
	height: auto;
	box-shadow: 15px 10px orangered;
	margin-bottom: 30px;
}

#slika:hover {
	border-radius: 0px;
}

.switch {
	padding: 15px;
	color: #0f0;
	text-rendering: optimizeLegibility !important;
	font-family: courier new;
	border: 5px solid #0f0;
	transition-duration: 0.2s;
	background-color: black;
	display: block;
	max-width: 300px;
	height: auto;
    text-align: center;
    vertical-align: center;
    margin-right:auto;
	margin-left:auto;
	margin-bottom: 30px;
	box-shadow: 15px 10px purple;
	cursor: pointer;
}

.switch:hover {
	border: 5px solid black;
	box-shadow: 20px 15px purple;
}

#about_div {
	padding: 15px;
	color: #def919;
	text-rendering: optimizeLegibility !important;
	font-family: courier new;
	border: 10px solid #def919;
	transition-duration: 1s;
	background-color: black;
	display: block;
	max-width: 300px;
	height: auto;
    text-align: center;
    vertical-align: center;
    margin-right:auto;
	margin-left:auto;
	margin-bottom: 10px;
	box-shadow: 15px 10px #1536bb;
}

button {
	padding: 10px;
	border-radius: 10px;
}

td {
	color: #0f0;
	font-family: Roboto Mono, monospace;
}

table {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#mikac_inc {
	transition-duration: 1s;
	text-shadow: 0 0 10px #0f0;
	font-family: Inconsolata, monospace !important;
}

.content_switch {
	display: none;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}